.auth {
  @include flex(column, flex-start, flex-start);
  max-width: 30rem;

  .logo {
    flex-shrink: 0;
    align-self: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  .h1 {
    margin-bottom: 1.5rem;
  }
  .h3 {
    margin-bottom: 5rem;
  }
  .form {
    @include flex(column);

    .btn {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}
