.wishlist {
  padding: 0.8rem 1rem 1rem;
  height: calc(100vh - 20rem);
  @include flex(column, flex-start, flex-start);

  .nav-btn {
    position: absolute;
    left: 8rem;
    top: 1rem;

    @media screen and (min-width: 350px) {
      top: 2rem;
    }
  }
  .h1 {
    margin-bottom: 1rem;
    margin-right: auto;
  }
  &__content {
    @include flex(row, center, flex-start);
    @include gap(2rem, 2rem);
    flex-wrap: wrap;
    overflow: auto;

    @media screen and (min-width: 555px) {
      justify-content: flex-start;
      .product-grid-item:last-child:nth-child(2n + 1) {
        margin-right: auto;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .wishlist {
    position: relative;
    height: calc(100% - 8.2rem);
    padding-bottom: 0;

    .nav-btn {
      left: 1rem;
      top: 0.4rem;
    }

    .h1 {
      padding-left: 6rem;
    }
    &__content {
      max-width: 53.7rem;
    }
  }
}
