.add-to-cart {
  @include flex(row, space-between);
  width: 7.5rem;
  .qty-btn {
    width: 2.4rem;
    height: 2.4rem;
    background: $lin-gradient-orange;
    color: $col-white;
    border: none;
    border-radius: 1.2rem;
    cursor: pointer;
  }

  .qty-label {
    @include font(1.6rem, 2.1rem, 400, $col-grey-800, $font-primary);
  }

  &--all-in-one {
    padding: 1rem;
    width: 10rem;
    height: 5rem;
    border-radius: 3rem;
    background: $lin-gradient-orange;

    .qty-btn {
      background: transparent;
    }
    .qty-label {
      color: $col-white;
    }
  }
}
