.box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: $col-white;
  box-shadow: $bs-20;

  &.column {
    flex-direction: column;
  }
}
