.btn {
  @include font(1.4rem, 150%, 700, $col-white, $font-secondary);
  min-width: 10rem;
  padding: 1.5rem 2rem;
  background-color: $lin-gradient-orange;
  border: none;
  border-radius: 20px;
  box-shadow: $bs-btn;

  &--white {
    background-color: $col-white;
    color: $primary-color;
  }

  &--long {
    min-width: 33.5rem;
  }

  &:disabled {
    background-color: $col-grey-400;
    color: $col-grey-600;
  }
}

.filter-btn {
  min-width: 8rem;
  min-height: 10rem;
  padding: 1.1rem 0.8rem;
  background-color: $col-white;
  opacity: 0.6;
  border: 1px solid $col-blue-200;
  border-radius: 5rem;
  transition: all 0.1s;

  &__background {
    @include flex(column);
    @include gap(0.4rem);
    padding: 0.5rem;
    min-height: 8.5rem;
    background-color: rgba($col-blue-200, 0.1);
    border-radius: 5rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    transition: all 0.1s;
  }

  &__caption {
    @include font(1.2rem, 1.8rem, 400, $col-black, $font-primary);
  }

  &--active {
    opacity: 1;
    border-color: $col-green-400;

    .filter-btn__background {
      background-color: rgba($col-green-300, 0.2);
    }
  }
}

.back-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 1.5rem;
  background-color: $col-white;
}
