.btn {
  padding: 1.5rem 2rem;
  background-color: $lin-gradient-orange;
  border: none;
  border-radius: 20px;
  box-shadow: $bs-btn;
  color: $col-white;

  &--white {
    background-color: $col-white;
    color: $primary-color;
  }

  &--disable {
    background-color: $col-grey-400;
    color: $col-grey-600;
  }
}
