.menu {
  @include flex(column, center, flex-start);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: $col-white;
  width: 19rem;
  height: 100vh;
  transform: translateX(-120%);
  transition: all 0.3s;
  box-shadow: $bs-30;

  &--active {
    transform: translateX(0);
    @media screen and (min-width: 1200px) {
      width: 100%;
    }
  }
  > svg {
    margin: 0 auto;
    transform: translateX(-2rem);
  }
  button {
    margin-bottom: 2.4rem;
  }

  &__user {
    &__avatar {
      @include flex;
      max-width: 8.8rem;
      max-height: 8.8rem;
      border-radius: 3rem;
      overflow: hidden;
    }
  }

  &__options {
    margin-top: 5rem;
    margin-bottom: auto;

    &__item {
      margin-bottom: 2rem;
      svg {
        margin-right: 1rem;
      }
      a {
        @include flex(row, flex-start, center);
        text-decoration: none;
      }
      .link {
        padding: 1rem 1.5rem;
        border-radius: 2rem;
        &--active {
          background: $lin-gradient-orange;
          box-shadow: $bs-30;
        }
      }
    }
  }

  @media screen and (min-width: 1200px) {
    position: static;
    height: 100%;
  }
}
