.product-grid-item {
  max-width: 20rem;
  border-radius: 30px;
  background-color: $col-white;
  box-shadow: $bs-product-grid;
  padding: 1.5rem 1.5rem 2.1rem 1.5rem;

  .product-img {
    margin-bottom: 2rem;
  }

  .cta {
    @include flex(row, space-between);
    margin-top: 1.2rem;
  }

  .sub-header {
    margin-bottom: 0.5rem;
  }
}
