.product-list-item {
  @include flex(row);
  max-width: 40rem;
  border-radius: 3rem;
  padding: 2.2rem 1.1rem;
  position: relative;
  overflow: hidden;
  box-shadow: $bs-40;
  @media screen and (min-width: 1200px) {
    box-shadow: $bs-20;
  }
  .product-img {
    margin-right: 1rem;
    flex-shrink: 0;
  }

  .details {
    max-width: 15rem;
    @include gap(0.2rem);
    margin-right: 2rem;
  }

  .flag {
    position: absolute;
    background-color: $col-green-350;
    padding: 0.4rem 3rem;
    line-height: 1;
    letter-spacing: 0.1rem;
    transform: rotate(45deg);

    transform-origin: 0 0;
    font-size: 1.1rem;
    color: $col-white;
    font-weight: 400;
    top: -14%;
    right: -21%;
    @media screen and (min-width: 330px) {
      right: -18%;
    }
    @media screen and (min-width: 375px) {
      top: -15%;
      right: -15%;
    }
  }
}
