.container {
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  margin: 0 auto;
  background-color: $col-white;
  overflow: hidden;

  @media screen and (min-width: 1200px) {
    border-radius: 3rem;
    margin: 4rem auto;
  }
}

.grid {
  display: flex;
  width: 100%;
  gap: 2rem;

  .cell {
    width: 100%;

    @for $i from 1 to 12 {
      &--size-#{$i} {
        max-width: calc(100% / 12 * $i);
      }
    }
  }
}
